<div id = "stat">
    <li>
        <h4>All statuses, not repeating, alphabetically ordered:</h4>
        <ol>
            <% @query_0.each do |f| %>
            <li><%= f.status%></li>
            <% end %>
        </ol>
    </li>
        
</div>
<div id="back_to"><%= link_to "Back to projects", users_path, method: :get %></div>
